
.card{
   position: relative;
   border-radius: 20px;
}






.highlight{
    grid-area: highlight;
    background: url(../../images/products/card-image.png)no-repeat center;
    background-size: cover;
    
}
.sneaker-purple{
    grid-area: sneaker-purple;
    background: url(../../images/products/roxo.jpg) no-repeat center;
    background-size: cover;
}
.model{
    grid-area: model;
    background: url(../../images/products/modelo.jpg) no-repeat center;
    background-size: cover;
}
.sneaker-color{
    grid-area: sneaker-color;
    background: url(../../images/products/colorido.jpg) no-repeat center;
    background-size: cover;
}
.sneaker-white{
    grid-area: sneaker-white;
    background: url(../../images/products/preto-azul.jpg) no-repeat center;
    background-size: cover;
}
.sneaker-silver{
    grid-area: sneaker-silver;
    background: url(../../images/products/moderno.jpg);
    background-size: cover;

}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;


}

.top1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title{
    color:#EDEDED;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-subtitle{
    color:#EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group{
    color: #ffffff;
    display: flex;
    gap: 10px;
}
